# list

In [21]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [22]:
# append
number=[1,2,3,4,5]
number.append(20)
print(number)

[1, 2, 3, 4, 5, 20]

In [23]:
# extend
my_list=[1,2,3,4,5,6]
my_list.extend([45,45,58])
print(my_list)

[1, 2, 3, 4, 5, 6, 45, 45, 58]

In [24]:
# insert
my_list=[1,2,3,4,5,6,7,8,9]
my_list.insert(5,"hello")
print(my_list)

[1, 2, 3, 4, 5, 'hello', 6, 7, 8, 9]

In [25]:
# remove
my_list=[1,2,3,3,4,5,6,7]
my_list.remove(3)
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

In [26]:
#  pop

my_list=[1,2,3,3,4,5,6,7]
my_list.pop() 
print(my_list)

[1, 2, 3, 3, 4, 5, 6]

In [27]:
# clear

my_list=[1,2,3,3,4,5,6,7]
my_list.clear() 
print(my_list)

[]

In [28]:
# index

list=[1,2,3,4,5]
list.index(5)
# print(list)

4

In [29]:
# count

list=[1,2,3,3,4,5]
list.count(3)
# print(list)

2

In [30]:
# sort for ascending order by default
a=[5,1,3,4,56,2]
a.sort()
print(a)

[1, 2, 3, 4, 5, 56]

In [31]:
# reverse for descending order
a=[5,1,3,4,56,2]
a.sort(reverse=True)
print(a)

[56, 5, 4, 3, 2, 1]

In [32]:
# copy
ab=[1,2,3,4,5,6]
cm=ab.copy()
print(cm)

[1, 2, 3, 4, 5, 6]

In [33]:
# len
list=["aru",2]
len(list)

2

In [34]:
# min, sum,max
ab=[1,2,3,4,5,6]
min(ab)
sum(ab)
max(ab)

6

# question

In [25]:
list=["apple","delhi"]
list.append("noida")
list.insert( 1,"banana")
list.reverse()
print(list)

['noida', 'delhi', 'banana', 'apple']

In [52]:
ab=[[11,12,13],
    [14,15,16],
    [17,18,19]
    ]
ab[2][0]=70#modify
print(ab)
ab[0][0]
print(ab)
ab[1][2]
ab[1].append(36)
print(ab)
ab.append([22,55,66])
print(ab)

[[11, 12, 13], [14, 15, 16], [70, 18, 19]]
[[11, 12, 13], [14, 15, 16], [70, 18, 19]]
[[11, 12, 13], [14, 15, 16, 36], [70, 18, 19]]
[[11, 12, 13], [14, 15, 16, 36], [70, 18, 19], [22, 55, 66]]

In [6]:
ab=[[11,12,13],
    [14,15,16],
    [17,18,19]
    ]
for i in ab:
 for j in i:
    print(j, end=' ' )
 print()

11 12 13
14 15 16
17 18 19

# advanced example with list comprehension

In [4]:
ab=[1,2,3,4,5,6,7,]
t=[i**2 for i in ab if i%2==0]
print(t)

[4, 16, 36]

In [1]:
def a(n):
  for i in range(n,n+i):
    for j in i:
      print("*"*j)
  print(a)