# Basic while loop
### using while if else break

In [ ]:
a=12
while a<=20:
   print(a)
   a+=2

In [ ]:
#break
a=12
while a<30:
  if a==24:
    break
  print(a)
  a+=2

#advanced example with complex condition

In [ ]:
a=2
b=3
while a <20 or  b<35:
  print(a,b)
  b+=a
  a+=2

# for loop

In [ ]:
for i in range(10,20):
  print(i)

In [ ]:
a=["arun","Sandeep","Pankaj"]
for i in a:
  if i!="arun":
     
     print(i)

In [8]:
for x in "hello world":
  print(x)

h
e
l
l
o

w
o
r
l
d

In [9]:
aa=["Delhi","j&k","up"]
for a,b in enumerate(aa):
  a+=1
  print(a,b)

1 Delhi
2 j&k
3 up

In [ ]:
ab=[1,2,3,4]
for i in ab:
  print(i**2)

In [ ]:
ab=[11,12,13,14,15,16,27,18,19,20]
x=[i**2 for i in ab]
print(x)

In [ ]:
#advance example with list comprehension
ab=[11,12,13,14,15,16,27,18,19,20]
x=[i**2 for i in ab if i%2==0]
print(x)

In [52]:
ab=[11,12,13,14,15,16,27,18,19,20]
x=[i**3 for i in ab if i%2==0 and i%4==0 and i%6==0]
print(x)

[1728]

In [6]:
list=[1,2,3,4,5,6,7,8,9,10,11,12]
count=list[2::3]
print(count)

[3, 6, 9, 12]

In [26]:
a=[(i**2,j**2)for i in range(3) for j in range(3)]
print(a)

[(0, 0), (0, 1), (0, 4), (1, 0), (1, 1), (1, 4), (4, 0), (4, 1), (4, 4)]

In [31]:
list={'name':'arun','add':'delhi','email':'ariun@2003'}
for i,j in list.items():
  print(i,j)

name arun
add delhi
email ariun@2003

In [35]:
matrix=[
  [11,12,13],
  [14,15,16],
  [17,18,19]
]
for i in matrix:
  for j in i:
    print(j ,end=' ')
  print()

11 12 13
14 15 16
17 18 19

In [38]:
list=[1,2,3,4,5,6]
for i in list:
  if i%2==0:
    print(i,"even ")
  else:
    print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even

In [8]:
for i in range(5):
  for j in range(4):
    # if j==4:
     print(i,j)
      # break

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3

In [ ]:
# infitnite loop with count
import itertools 
for i in  itertools.count(10,2):
  if i>20:
    break
  print(i)

10
12
14
16
18
20

In [33]:
color=["red","blue","black"]
for i in itertools.cycle(color):
  print(i)
  break

red

In [34]:
for item in itertools.repeat("python",5):
  print(item)

python
python
python
python
python